# Virtual Environments
venv/
**/venv/
ENV/
env/

# Python cache
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Flutter & Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/
**/build/
!true_label/frontend/build/
!true_label/frontend/build/web/**

# IDE & OS files
.idea/
*.iml
*.ipr
*.iws
.vscode/
.DS_Store
Thumbs.db
*.log

# Mobile build artifacts
**/android/app/debug
**/android/app/profile
**/android/app/release
**/ios/Flutter/.last_build_id
