fastapi==0.115.5
starlette==0.41.2
uvicorn==0.32.0
python-multipart==0.0.12
python-dotenv==1.0.1
pydantic==2.10.3
pydantic_core==2.27.1
annotated-types==0.7.0
httpx==0.28.1
httpcore==1.0.7
requests==2.32.3
urllib3==2.2.3
certifi==2024.12.14
idna==3.10
charset-normalizer==3.4.0
pillow==10.4.0
numpy==1.26.4
tqdm==4.67.1
PyYAML==6.0.2
packaging==24.2
six==1.17.0
setuptools==75.6.0
SQLAlchemy==2.0.25
psycopg2-binary==2.9.9
